<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785594037013-o7866hspgbh10r5jf7mju08s4hl9184g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785594037013-o7866hspgbh10r5jf7mju08s4hl9184g</string>
	<key>API_KEY</key>
	<string>AIzaSyBMY_MXHK1Jy7GhXU4i0PTrfCbkoSvmA-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>785594037013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab08</string>
	<key>PROJECT_ID</key>
	<string>lab08-265ee</string>
	<key>STORAGE_BUCKET</key>
	<string>lab08-265ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785594037013:ios:63158fa67910993d73ef1c</string>
</dict>
</plist>